@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

@import '@tuwaio/nova-core/dist/index.css';
@import '@tuwaio/nova-transactions/dist/index.css';
@import '@tuwaio/nova-connect/dist/index.css';
@import 'tailwindcss';

:root {
  /* --- Base Backgrounds --- */
  --accountable-background: #000000;
  --accountable-background-2: #171717;

  /* --- Text & Content --- */
  --accountable-foreground: #EBEFF5;
  --accountable-primary: #EBEFF5;
  --accountable-secondary: #C2C6C9;
  --accountable-tertiary: #9EA2A6;

  /* --- UI Elements --- */
  --accountable-border: #292B2E;
  --accountable-disabled: #585C61;
  --accountable-radius: 1.5rem;

  /* --- Brand Accents --- */
  --accountable-accent: #1AD699;
  --accountable-accent-dark: #05291D;

  /* --- Status Colors --- */
  --accountable-alert: #D6BD33;
  --accountable-alertDark: #493F0F;
  --accountable-destructive: #E02424;
}

@media (hover: hover) {
  .NovaCustomScroll::-webkit-scrollbar {
    background-color: var(--accountable-border);
  }
  .NovaCustomScroll::-webkit-scrollbar-thumb {
    background-color: var(--accountable-accent);
  }
  .NovaCustomScroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--accountable-border);
  }
  .NovaCustomScrollNoPadding::-webkit-scrollbar {
    background-color: var(--accountable-border);
  }
  .NovaCustomScrollNoPadding::-webkit-scrollbar-thumb {
    background-color: var(--accountable-accent);
  }
  .NovaCustomScrollNoPadding::-webkit-scrollbar-thumb:hover {
    background-color: var(--accountable-border);
  }
}

.NovaDialogContent__elements {
  border-color: var(--accountable-border);
  border-radius: 4px !important;
}
